<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatisplus.PeopleMapper">

    <!--
        JavaType 指定实体类型
        ofType 指定集合中的实体类型
    -->

    <select id="queryUserById" parameterType="string" resultType="People">
        select * from user where id = #{id}
    </select>

    <resultMap id="PeopleMap" type="People">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <!--一对一-->
        <association property="son"   resultMap="SonMap"/>
        <!--一对多-->
        <!--<collection property="sonList" ofType="" resultMap="SonMap"/>-->
        <!--多对多，不需要对中间表进行映射。-->
        <!--<collection property="sonList" ofType="" resultMap="SonMap"/>-->
    </resultMap>
    <resultMap id="SonMap" type="Son">
        <id column="id" property="sid"/>
        <result column="name" property="sname"/>
        <result column="age" property="sage"/>
    </resultMap>

    <select id="selectPeoples"  resultMap="PeopleMap">
        select * from user
    </select>

</mapper>